In [4]:
%matplotlib inline
import pandas as pd

In [ ]:
titles = pd.DataFrame.from_csv('/Users/christopherlam/git/development/pycon-pandas-tutorial/data/titles.csv', 
                               index_col=None)
titles.head()

In [ ]:
len(titles)

In [ ]:
h = titles.head()
h['title']

In [ ]:
h['year']

In [ ]:
h['year'] + 10000
#titles.title.head() + 10000 # will blow up

In [ ]:
h['year'] //10 #python divide truncate or is this a panda operator

In [ ]:
h.year

In [ ]:
h.year // 10

In [ ]:
h.year > 1985

In [ ]:
h[h['year'] > 1985]

In [ ]:
h[h.year < 1985]

In [ ]:
h[(h.year < 1990) | (h.year >= 2000)] # exclude 90's movies

In [ ]:
t = titles
t[t.title == 'Macbeth'].sort_values('year')

In [ ]:
t = titles
t[t.title == 'Macbeth'].sort_values('year').head()

In [ ]:
t = titles
t[t.title == 'Macbeth'].sort_values('year').tail()

In [ ]:
#t.year.order() deprecated
t.year.sort_values().head(10)

In [5]:
cast = pd.DataFrame.from_csv('/Users/christopherlam/git/development/pycon-pandas-tutorial/data/cast.csv', 
                               index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [ ]:
c = cast.head()
c[c.n.notnull()]

In [ ]:
c[c.n.isnull()]

In [ ]:
'Hamlet (II)'.startswith('Hamlet')

In [ ]:
h = titles #titles , year, name, etc of a movie
h[h.title == 'Hamlet']

In [ ]:
#h.title.str.startswith('Hamlet') #returns boolean
hamlets = h[h.title.str.startswith('Hamlet')]
#hamlets
len(hamlets)

In [ ]:
h.title.str.len().head() # returns length of title

In [ ]:
titles.year.value_counts().sort_values(ascending=False).head(15)

In [ ]:
titles.year.value_counts().sort_values(ascending=False).head(20).plot() # bad graph years are reversed, etc

In [ ]:
titles.year.value_counts().sort_index().plot()

In [ ]:
c = cast
c = c[c.character == 'Kermit the Frog']
c.plot(x='year', y='n', kind='scatter')

In [ ]:
c = cast
c[['year', 'n']].head()

In [ ]:
len(cast)

In [ ]:
cast[cast.title == "Sleuth"]

In [ ]:
%%time
cast[cast.title == "Sleuth"]

In [ ]:
c = cast.set_index("title").sort_index()
c.head()

In [ ]:
%%time
c.loc["The Wizard of Oz"].sort_values("year") # to really utilize loc[] you need to sort the index so that it can do a binary search

In [ ]:
c = cast.set_index(['title', 'year']).sort_index()
c.head()

In [ ]:
c.loc["Sleuth"].loc[2007]

In [ ]:
c.loc[('Sleuth', 1972)]

In [ ]:
c.loc[('Sleuth', 1972)].reset_index('year')

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby(['title', 'year', 'character']).size()

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby('year').size()

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby('year').size().plot(kind='bar')

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby('year').size().plot(ylim=0)

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby('year').n.max()

In [ ]:
c = cast
c = c[c.name == "George Clooney"]
c.groupby(c.year // 10 * 10).n.size() # group by decade

In [ ]:
c = cast
c.head()

In [ ]:
c = cast
c = c[(c.character == 'Kermit the Frog') 
     | (c.character == 'Oscar the Grouch')]
g = c.groupby(['character', c.year //10 * 10]).size()
g

In [ ]:
g.unstack() #this is a valid view

In [ ]:
g = g.unstack(0).fillna(0) #this is also valid, depends on how you want to look at your data
g

In [ ]:
u = g.unstack(0)
u['Kermit the Frog'] - u['Oscar the Grouch']

In [ ]:
c = cast
c = c.groupby(['year', 'type']).size()
g = c.unstack()
g.head()
#c.unstack('type').fillna(0) #if you dont type argument it is the same result, in this case at least

In [ ]:
(g.actor - g.actress).plot()

In [ ]:
(g.actor / (g.actor + g.actress)).plot(ylim=[0,1])

In [ ]:
c = cast
c = c[c.n == 2]
c = c.groupby(['year', 'type']).size()
#c
g = c.unstack('type')

#g.plot()
(g.actor / (g.actor + g.actress)).plot(ylim=[0,1.5])

In [ ]:
c = cast
c = c[c.n <= 3]
c = c.groupby(['year', 'type', 'n']).size()
c = c.unstack('type')
#(c.actor /(c.actor + c.actress)).unstack('n')
(c.actor /(c.actor + c.actress)).unstack('n').plot()

In [ ]:
release_dates = pd.DataFrame.from_csv('/Users/christopherlam/git/development/pycon-pandas-tutorial/data/release_dates.csv',
                                      parse_dates=['date'], infer_datetime_format=True, index_col=None)
release_dates.head()

In [ ]:
r = release_dates
r.date.dt.month

In [ ]:
#merge

In [ ]:
c = cast
c = c[c.name == 'Ellen Page']
c.merge(release_dates).head()

In [ ]:
#pivots

In [ ]:
r = release_dates
r = r[r.title.str.startswith('Star Wars: Episode')]
r = r[r.country.str.startswith('U')]
r.pivot('title', 'country', 'date')#(set_index, unstack, values)

In [6]:
c = cast
c = c[c.n <= 2]
c = c[c.name == 'Cary Grant']
c.head()

,title,year,name,type,character,n
789529,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1
789530,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
789531,Big Brown Eyes,1936,Cary Grant,actor,Det. Sgt. Danny Barr,1
789533,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2
789534,Bringing Up Baby,1938,Cary Grant,actor,David,2

In [12]:
#every movie with Cary Grant and leading co-star
c = cast
c = c[c.n <= 2]
c = c[c.name == 'Cary Grant']

c = c.merge(cast, on=['title', 'year'])
c = c[c.n_y <= 2]
#the following filters out matching with himselfs
c = c[c.name_y != 'Cary Grant']
c.head()

,title,year,name_x,type_x,character_x,n_x,name_y,type_y,character_y,n_y
62,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1,Deborah Kerr,actress,Terry McKay,2
107,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1,Priscilla Lane,actress,Elaine Harper,2
158,Big Brown Eyes,1936,Cary Grant,actor,Det. Sgt. Danny Barr,1,Joan Bennett,actress,Eve Fallon,2
210,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2,Loretta Young,actress,Letty Strong,1
256,Bringing Up Baby,1938,Cary Grant,actor,David,2,Katharine Hepburn,actress,Susan,1

In [16]:
sales1 = pd.read_csv('/Users/christopherlam/git/development/pycon-pandas-tutorial/sales1.csv')
sales1.head()

                         Book title  Number sold  Sales price  Royalty paid
0            The Bricklayer’s Bible            8         2.99          0.55
1                          Swimrand            2         1.99          0.35
2  Pining For The Fisheries of Yore           28         2.99          0.55
3                The Duck Goes Here           34         2.99          0.55
4       The Tower Commission Report            4        11.50          4.25

In [21]:
sales2 = pd.read_csv('/Users/christopherlam/git/development/pycon-pandas-tutorial/sales2.csv')
sales2.fillna('').head(10)

                              Title Units sold List price Royalty
0
1               Sales report for Q4
2            E-Book Reader US Store
3  Pining for the Fisheries of Yore         80        3.5   14.98
4                          Swimrand          1       2.99    0.14
5            The Bricklayer's Bible         17        3.5    5.15
6                The Duck Goes Here         34       2.99    5.78
7       The Tower Commission Report          4        9.5     6.2
8                US royalties (USD)                         32.25
9

In [27]:
col = sales2.Title.str.extract(r'\((.*)\)')#.fillna('')
sales2['currency'] = col.fillna(method='bfill')
sales2

                               Title  Units sold  List price  Royalty currency
0                                NaN         NaN         NaN      NaN      USD
1                Sales report for Q4         NaN         NaN      NaN      USD
2             E-Book Reader US Store         NaN         NaN      NaN      USD
3   Pining for the Fisheries of Yore          80        3.50    14.98      USD
4                           Swimrand           1        2.99     0.14      USD
5             The Bricklayer's Bible          17        3.50     5.15      USD
6                 The Duck Goes Here          34        2.99     5.78      USD
7        The Tower Commission Report           4        9.50     6.20      USD
8                 US royalties (USD)         NaN         NaN    32.25      USD
9                                NaN         NaN         NaN      NaN      GBP
10                               NaN         NaN         NaN      NaN      GBP
11               Sales report for Q4         NaN         NaN      NaN      GBP
12            E-Book Reader UK Store         NaN         NaN      NaN      GBP
13  Pining for the Fisheries of Yore          47        2.99    11.98      GBP
14            The Bricklayer's Bible          17        2.99     3.50      GBP
15       The Tower Commission Report           4        6.50     4.80      GBP
16                UK royalties (GBP)         NaN         NaN    20.28      GBP
17                               NaN         NaN         NaN      NaN      EUR
18                               NaN         NaN         NaN      NaN      EUR
19               Sales report for Q4         NaN         NaN      NaN      EUR
20        E-Book Reader France Store         NaN         NaN      NaN      EUR
21                          Swimrand           8        1.99     0.88      EUR
22                The Duck Goes Here          12        1.99     1.50      EUR
23            France royalties (EUR)         NaN         NaN     2.38      EUR